
input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  height: 35px;
  width: 250px;
}


.body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  background-color: rgb(127, 127, 127);
}

textarea {
  display: block;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  cursor: default;
}

body {
  background-color: rgb(131, 131, 131);
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  background-color: rgb(127, 127, 127);
  color: white;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}

.placeholder {
  height: 4.5dvh;
}

.main-container {
  display: flex;
  justify-content: center;
}

.input-container {
  display: block;
  margin-right: 40px;
  margin-left: 40px;
}

.output {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 870px) {
  .body {
    width: 350px;
    text-align: center;
    padding: 30px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    background-color: rgb(127, 127, 127);
  }

  input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #2c3e50;
    font-size: 14px;
    height: 35px;
    width: 180px;
  }

  .input-container {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
  }

}


#slider {
  width: 200px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider-box{
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#exportJSON{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}